<html >


    <body onload ='form1.submit()'>
        <form id="form1" action="https://centinelapi.cardinalcommerce.com/V2/Cruise/StepUp" method="post">
          <input name="TermUrl" value= "<%=post.TermUrl%>">
          <input name="MD" value="<%=post.MD%>">
          <input name="JWT" value="<%=post.jwt%>" >
      </body>
      </html>
